# bash

# systemctl daemon-reload

# systemctl enable baks-megamarket-products@1.service
# systemctl disable baks-megamarket-products@1.service

# systemctl start baks-megamarket-products@1.service
# systemctl restart baks-megamarket-products@1.service
# systemctl stop baks-megamarket-products@1.service

[Unit]
Description=megamarket-products
StartLimitBurst=5
StartLimitIntervalSec=0

[Service]
ExecStart=php /.....PATH_TO_PROJECT..../bin/console messenger:consume megamarket-products megamarket-products-low --memory-limit=128m --time-limit=3600 --limit=1000
Restart=always

User=unit
Group=unit

[Install]
WantedBy=default.target